*{
    padding: 0;
    margin: 0;
}

:root{
    /* defined colours */
    --pink: #E86F54;
    --pink-alt: #E25B41;
    --black: #000000;
}

ul{
    display: flex;
}

.list{list-style: none;}

.section{
    padding-bottom: 60px;
}

.container{
    padding-left: 16px;
    padding-right: 16px;
}

.section-heading{
    padding-bottom: 32px;
}

.section-store-list{
    display: flex;
    padding: 0;
    justify-content: center;
    flex-wrap:wrap;
    align-content:flex-start;
    margin: 0 auto;
    gap: 16px;
}

.list-item{
    width: calc((100% - 16px) / 2);
    margin-bottom: 12px;
}

.list-item-image-container > img{
    object-fit: cover;
    width: 100%;
    height: auto;
}

.list-item-description-title{
    color: var(--black);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 12px;
}

.list-item-description-price{
    color: var(--black);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.6;
    padding-top: 6px;
}

.store-order-container{
    width: 100%;
    padding-top: 32px;
}

.store-order-button{
    display: flex;
    width: 208px;
    height: 44px;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: var(--pink);
    border: none;
    border-radius: 38px;
    margin-left: auto;
    margin-right: auto;
}

.store-order-button:hover{
    background-color: var(--pink-alt);
    box-shadow: 0px 4px 16px 0px rgba(250, 111, 84, 0.20);
}

@media (min-width: 320px) and (max-width: 767px) {
    .list-item-description-title{
        font-size: 24px;
    }
    .list-item-description-price{
        font-size: 18px;
    }
}

@media (min-width: 320px){
    .container{
        padding-left: 24px;
        padding-right: 24px;
    }
    .list-item{
        width: calc((100% - 32px) / 2);
    }
    .section-store-list{
        gap: 32px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .list-item{
        margin-bottom: 40px;
    }
    .list-item-description-title{
        font-size: 32px;
        padding-top: 16px;
    }
    .list-item-description-price{
        font-size: 24px;
        padding-top: 8px;
    }
}

@media (min-width: 768px){
    .list-item-description-title{
        overflow: hidden;
    }
    .list-item-description-title>* {
        display: inline-block;
        position: relative
    }
    
    .list-item-description-title>::after,.list-item-description-title>::before {
        content: "";
        position: absolute;
        top: 60%;
        width: 600px;
        border-bottom: 1px solid var(--black);
    }
    
    .list-item-description-title>::before {
        right: 100%;
        margin-right: calc(5px + .3em)
    }
    
    .list-item-description-title>::after {
        left: 100%;
        margin-left: calc(5px + .3em)
    }
}

@media (min-width: 1200px){
    .list-item{
        margin-bottom: 64px;
    }
    .list-item-description-title{
        font-size: 36px;
        padding-top: 16px;
    }
    .list-item-description-price{
        font-size: 28px;
        padding-top: 4px;
    }
}   